/* @theme ashigara */
/* Author: atomisu0312 */

@import "gaia";

:root {
  --main-theme: rgb(14, 131, 253);
  --background-theme: rgb(239, 255, 255);
  --background-code: rgb(255, 229, 193);
  --black: rgb(40, 40, 40);
  --lead-h1-font-size: 50px;
  --lead-h2-font-size: 40px;
  --lead-h3-font-size: 30px;
  --h1-font-size: 50px;
  --h2-font-size: 45px;
  --h3-font-size: 40px;
  --h4-font-size: 35px;
  --mini-font-size: 20px;
  --header-footer-height: 50px;
  --header-footer-font-size: 20px;
  --main-font-size: 30px;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --normal-border-radius: 5px;
  --fw: 1;
}


section {
  margin: 20 auto 0px;
}

section.lead h1 {
  font-size: var(--lead-h1-font-size);
  margin: 0 auto 30px;
  border: 0;
}

section.lead h2 {
  font-size: var(--lead-h2-font-size);
  margin: 0 auto 100px;
}

section.lead h3 {
  font-size: var(--lead-h3-font-size);
  margin: 0 auto 100px;
  border: 0;
}

section::after {
  content: attr(data-marpit-pagination);
}

section table {
  margin: 10px auto;
  width: 100%;
}

section table td img {
  display: block;
  margin: 0 auto;
}

section table th {
  height: 1px;
  background-color: var(--background-theme);
}


/* ----- レイアウト ----- */
.flex {
  display: flex;
  gap: 1em;
}

.sa {
  justify-content: space-around;
  /* border: 8px dashed rgb(15, 166, 226);
  background-color: rgb(222, 244, 255); */
}

.sb {
  justify-content: space-between;
  /* border: 8px dashed rgb(21, 17, 255);
  background-color: rgb(222, 244, 255); */
}

.sa div,
.sb div {
  margin: 0.1em;
  /* border: 8px dashed rgb(80, 177, 109);
  background-color: rgb(227, 250, 237); */
}

.fw div {
  flex: var(--fw);
  /* background-color: rgb(244, 238, 255);
  border: 8px dashed rgb(93, 0, 255); */
}

/* ---------- */

code,
code * {
  font-family: "Monaco", "Courier New", monospace !important;
}