account_id              = "12桁のアレ"
region                  = "your-region"
security_group_id       = "sg-000aaaaaaaaaaaaaa" # ひとまず全開放としているが、
subnet_id               = "subnet-sample"        # S3とECRにアクセスできればPrivateSubnetで問題ない
num_machine       = 5
repository_name   = "split_pdf_go"