account_id              = "12桁のアレ"
region                  = "your-region"
cluster_arn             = "arn:aws:ecs:your-region:accountID123:cluster/cluster-name"
security_group_id       = "sg-000aaaaaaaaaaaaaa" # ひとまず全開放としているが、
subnet_id               = "subnet-sample"        # S3とECRにアクセスできればPrivateSubnetで問題ない
task_definition_arn     = "arn:aws:ecs:your-region:accountID123:task-definition/your-task-definition:rev"
task_role_arn           = "arn:aws:iam::accountID123:role/ecsTaskRole" #S3へのサクセス権限を忘れずに
task_execution_role_arn = "arn:aws:iam::accountID123:role/ecsTaskExecutionRole"
