account_id              = "12桁のアレ"
region                  = "your-region"
vpc_id                  = "vpc-ZZZZZXXXXZZZZXXXX"
subnet_id               = "subnet-sample"        # S3とECRにアクセスできればPrivateSubnetで問題ない
repository_name   = "split_pdf_go"
num_machine       = 5
